.edit_container {
  width: 35vw;
  margin: 0px auto;
  margin-top: 20px;
}

.form_container {
  display: flex;
}

.input_container {
  width: 65%;
  background-color: transparent;
  padding: 10px 5px;
  outline: none;
  border: 1px solid blue;
}

.btn_container {
  width: 35%;
  padding: 10px 20px;
  border: 1px solid blue;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
  font-weight: 600;
  cursor: pointer;
}
